In [11]:
import json

In [12]:
# Opening JSON file
cuisine_file1 = open('train.json',)
  
cuisine_train = json.load(cuisine_file1)

df_list = []
for item in cuisine_train:
    df_list.append(item['cuisine'])
  
# Closing file
cuisine_file1.close()

In [3]:
import pandas as pd

In [13]:
df = pd.DataFrame(df_list, columns=['CUISINE DESCRIPTION'])
len(df.index)

39774

In [14]:
df = df.drop_duplicates()
len(df.index)

20

In [15]:
print(df)

    CUISINE DESCRIPTION
0                 greek
1           southern_us
2              filipino
3                indian
5              jamaican
6               spanish
7               italian
8               mexican
11              chinese
16              british
18                 thai
19           vietnamese
26         cajun_creole
41            brazilian
46               french
50             japanese
59                irish
66               korean
72             moroccan
369             russian

In [1]:
import pandas as pd

In [16]:
restaurant = pd.read_csv("DOHMH_New_York_City_Restaurant_Inspection_Results.csv")

In [17]:
restaurant.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE'],
      dtype='object')

In [18]:
restaurant.drop(columns=['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE','PHONE', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE'], inplace=True)

In [19]:
len(restaurant.index)

399918

In [20]:
restaurant = restaurant.drop_duplicates()
len(restaurant.index)

84

In [21]:
restaurant.head()

  CUISINE DESCRIPTION
0             Italian
3             Chinese
4            American
5           Pakistani
9            Japanese

In [11]:
print(restaurant)

      CUISINE DESCRIPTION
0                 Italian
3                 Chinese
4                American
5               Pakistani
9                Japanese
...                   ...
3857         Creole/Cajun
4468           Portuguese
5418              Iranian
9040           Polynesian
20311               Czech

[84 rows x 1 columns]

In [22]:
cuisine_df = pd.concat([restaurant, df])

In [25]:
print(len(cuisine_df.index))
cuisine_df['CUISINE DESCRIPTION'] = cuisine_df['CUISINE DESCRIPTION'].str.lower()
cuisine_df = cuisine_df.drop_duplicates()
print(len(cuisine_df.index))

104
89

In [26]:
print(cuisine_df)

   CUISINE DESCRIPTION
0              italian
3              chinese
4             american
5            pakistani
9             japanese
..                 ...
1          southern_us
5             jamaican
16             british
19          vietnamese
26        cajun_creole

[89 rows x 1 columns]

In [23]:
df.columns = ['CUISINE DESCRIPTION']
print(df)

    CUISINE DESCRIPTION
0                 greek
1           southern_us
2              filipino
3                indian
5              jamaican
6               spanish
7               italian
8               mexican
11              chinese
16              british
18                 thai
19           vietnamese
26         cajun_creole
41            brazilian
46               french
50             japanese
59                irish
66               korean
72             moroccan
369             russian

In [30]:
cuisine_df['CUISINE DESCRIPTION'] = cuisine_df['CUISINE DESCRIPTION'].str.lower()

In [32]:
# Write all food items to .txt files in yml format
def write_to_textfile(list_to_convert, file_name):

    with open(f"{file_name}.txt", 'w') as f:
        # File header
        f.write("nlu:\n" + 
                f"- lookup: {file_name}\n" +
                "  examples: |\n")
        # Write food items
        for item in list_to_convert:
            f.write(f"    - {item}\n")
    
    print(f"{file_name}.txt has been saved.")

In [36]:
cuisines = cuisine_df['CUISINE DESCRIPTION'].tolist()
write_to_textfile(cuisines, "cuisine")

cuisine.txt has been saved.

In [1]:
cuisine_df.to_pickle('cuisine_dataset.pkl')

NameError: name 'cuisine_df' is not defined

In [ ]:
# dishes
- seafood
- pizza
- soul food
- bagels/pretzels
- steak
- tapas
- hamburgers
- coffee/tea
    - salads
        - donuts
    - delicatessen
        - sandwiches
        - bottled beverages, including water, sodas, juices, etc.
            - ice cream, gelato, yogurt, ices
                - juice, smoothies, fruit salads
                    - hotdogs
    - soups
    - hotdogs/pretzels
        - pancakes/waffles

In [ ]:
latin (cuban, dominican, puerto rican, south & central american)

In [ ]:
# dietary
   - vegetarian
       - jewish/kosher